PROJECT_NAME="ternhost"

API_V1_STR="/api/v1"


SERVER_NAME="example.com"
SERVER_HOST="http://example.com"

POSTGRES_SERVER=db.example.com
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=app

EMAIL_TOKEN_EXPIRE_HOURS=48

SECRET_KEY=<<openssl rand -hex 32>>
